.body-m{
	margin: 0;
}

.card {
	width: 32%;
	margin-left: 1%;
}

.head-fix{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100%;
}


.conteiner-logo{
	display: block;
	width: 370px;
	height: 70px;
	background-color: #fff;
	float: left;
}

.logo-img-cont{
	height: 60px;
	margin: -10px;
	padding-left: 10px;
}

.logo-text-conteiner{
	margin-top: 5%;
}

.logo-text{
	padding-top: 0px;
	margin-left: 2%;
	font-size: 30px;
	text-decoration: none; 
	float: left;
	color: #07123F;
	font: bold 35px raleway, sans-serif;
}

.header-menu{
	background-color: #07123F;
	height: 50px;
	width: 100%;
	text-align: right;
	padding-top: 20px;
}

.header-text-conteiner{
	padding-top: 5px;
	margin-right: 5%;
}

.bgcg{
	background-color: #fff;
	margin: 0px;
}

.ht{

	margin-right: 5%;
	text-decoration: none;
	font: bold 17px open sans, sans-serif;  
}

.wt{
	color: white;
}

.btn-cab{
	height: 50px;
	width: 100px;
	background-color: white;
	text-decoration: none; 
	border-radius: 5px; 
	padding: 5px 10px 5px;
	font: bold 17px open sans, sans-serif;  
}

.vid-cont{		
	color: #222E60;
	width: 100%;
	height: 100%;
}

.video{
	position: fixed;
	z-index: -10;
}

.text-h1-vid{
	width: 44%;
	position: absolute;
		right: 30%;
		top: 33%;
	z-index: 11;
	color: white;
	text-align: center;
	margin-left: 10%;
		font: bold 43px open sans, sans-serif;
}

.text-p-vid{
	width: 44%;
	position: absolute;
		right: 30%;
		top: 54%;
	z-index: 12;
	color: #909090;
	font-size: 1.5em;
	text-align: center;
	margin-left: 10%;
	font: bold 18px open sans, sans-serif;
}

.vid-cont{
	position: relative;
	z-index: -10;
}

.img-vid{
	position: fixed;
		left: 0px;
		top: 0px;
		 
	width: 100%;
	height: 99%;
	background-color: rgba(0,0,33,0.8);
}

.cv{
	box-sizing: border-box;
	width: 100%;	
	height: 100%; 
}


.el-x-1{
	width: 3%;
	margin-top: 10px;
	z-index: 10;
	position: absolute;
		right: 30%;
		top: 30%;	
}

.el-p-1{
	width: 3%;
	margin-top: 10px;
	z-index: 12;
	position: absolute;
		right: 85%;
		top: 55%;	
}

.btn-a1{
	z-index: 12;
	position: absolute;
		right: 46%;
		top: 65%;	
	color: #fff;
		text-decoration: none;
		background-color: #5933aa;
		border-radius: 30px;
		padding: 15px 20px 15px;
		font: bold 18px open sans, sans-serif;
}

.el-o-1{
	width: 3%;
	z-index: 12;
	position: absolute;
		right: 25%;
		top: 75%;	
}

.utp{
	background-color: #fff;
	height: 300px;
	text-align: center;
	padding-top: 30px;
	z-index: 20;

	
	}

.utp-c1{
	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
	float: right;

}

.utp-c1-img{
	height: 150px;
	width: 150px;
}

.utp-c1-img-cont{
	height: 150px;
	width: 100%;
}

.utp-seg{
	color: #5933aa;
	font: bold 20px open sans, sans-serif;
}

.utp-text{
	font-size: 20px;
	font: italic bold 16px open sans, sans-serif;
}

.vstavka{
	height: 400px;
	background-color: #5933aa;
}

.h4-vs{
	margin-top: 0;
	padding-top: 70px;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	z-index: 15;
	font: bold 30px open sans, sans-serif;
}

.h1-vs{
	padding-left: 32%;
	width: 35%;
	text-align: center;
	color: #fff;
	font-size: 3.5em;
	z-index: 15;
	font: bold 55px open sans, sans-serif;
}

.img-vs{

}

.img4-vs{
	height: 400px;
	position: relative;
		top: -290px;
	    left: 65%;
}
.img5-vs{
	height: 400px;
	position: relative;
		top: -290px;
	    left: -24%;
}

.img6-vs{
	height: 100px;
	position: relative;
		top: -310px;
	    left: -21%;
}

.partners-conteiner{
	background-color: #fff;
	height: 140px;
	width: 100%;
padding-top: 30px;
text-align: center;
padding: 0 0 20px;
	
}

.pertn-cont-img{
	padding-top: 10px;
	width: 18%;
	margin-left: 1%;
	margin-right: 1%;
	float: right;
}

.partn-img{
	height: 140px;

}

.foot-cont{	
	width: 100%;
	height: 120px;
	background-color: #07123F;
	padding: 0 0 30px;
}

.foot-social-cont{
	padding-top: 30px;
	text-align: center;
}

.foot-img{
	padding-left: 15px;
	height: 35px;
}

.foot-text{
	text-align: center;
	color: #fff;
	font: bold 20px open sans, sans-serif;
}

.for-head{
	height: 70px; 
}

.bg-about-img{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.bg-about-img-fil{
	position: fixed;
		left: 0px;
		top: 0px;
		z-index: -1; 
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,33,0.8);
}

.conteiner-form-auth{
	height: 100%;
	width: 60%;
	margin-left: 20%;
	padding-top: 10%;
	margin-bottom: 400px;

}

.conteiner-form-about{
	height: 100%;
	width: 60%;
	margin-left: 20%;
	padding-top: 10%;
	margin-bottom: 40px;

}

.p-text-about{
	color: #fff;
	text-align: center;
	font: bold 50px open sans, sans-serif;
}

.form-about-pd{
	height: 30px;
	width: 47%;
	margin-left: 5px;
	font: bold 20px open sans, sans-serif;
}

.form-about-ms{
	margin-top: 10px;
	height: 250px;
	width: 95.75%;
	margin-left: 0.5%;
	font: bold 16px open sans, sans-serif;
}

.btn-about{
	margin-top: 10px;
	background-color: rgb(66,33,99);
	color: white;
	width: 96.75%;
	height: 50px;
	margin-left: 0.5%;
	font: bold 20px open sans, sans-serif;
	text-align: center;
	border: none;
}

.auth-form{
	height: 30px;
	width: 45%;
	margin-top: 10px;
	font: bold 16px open sans, sans-serif;
}

.auth-btn{
	margin-top: 10px;
	background-color: rgb(66,33,99);
	color: white;
	width: 100px;
	height: 50px;
	font: bold 20px open sans, sans-serif;
	text-align: center;
	border: 2px solid white;
}

.auth-btn-reg{
	margin-top: 10px;
	background-color: rgb(66,33,99);
	color: white;
	padding: 12px;
	margin-left: 0.5%;
	font: bold 20px open sans, sans-serif;
	text-align: center;
	border: 2px solid white;
	text-decoration: none; 
}

.reg-cont{
	text-align: right;
	margin-right: 10%;
	padding-top: 10%;
}

.reg-form-cont{

}

.reg-form{
	height: 30px;
	width: 20%;
	margin-top: 10px;
	background-color: rgb(66,33,99);
		border: 3px solid white;
		border-radius: 10px;
	font: bold 15px open sans, sans-serif;
	color: white;
}

.reg-btn{
	margin-top: 10px;
	background-color: rgb(66,33,99);
	color: white;
	width: 130px;
	height: 50px;
	font: bold 20px open sans, sans-serif;
	text-align: center;
	border: 3px solid white;
	border-radius: 20px;
}

.reg-h3{
	color: white;
	font: bold 80px open sans, sans-serif;
	position: absolute;
	left: 134px;
	top: 330px;
	z-index: 2;
	color: rgb(66,33,99);
	text-shadow: -3px 0px  white, 3px 0px  white, 0px 3px  white, 0px -3px  white;
}

.reg-img-1{
	position: absolute;
	top: 100px;
	left: 30px;
	height: 710px;

}

.reg-gradient{
	background-image: 
	linear-gradient(to top, #07123F, #854DFF,#07123F);
	position: fixed;
	top: 70px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 141%;
}

.cab-h3{
	margin-top: 0;
    padding-top: 3%;
	margin-left: 2.4%;
	font: bold 40px open sans, sans-serif;
	color: #fff;

}

.cab-left-menu{
	background-color: #fff;
    width: 25.5%;
	margin-left:20px;
	float: left;
	border: 10px solid #07123F;
}

.cab-left-menu-li{
	display: block;
	color: #000;
	padding: 10px 0% 10px 9.5%;
	border-bottom: 1px solid #999;

}

.cab-left-menu-a{
    	width: 90%;
	text-align: left;
	color: #07123F;
	font: bold 16px open sans, sans-serif;
	text-decoration: none;
}

.cont-menu{
	border: 10px solid  #07123F;
	border-left: none; 
	height: 88%;
	width: 250px;
	float: left;
	text-align: center;
	background-color: #fff;
}

.cab-menu-p{
	color: #07123F;
	font: bold 50px open sans, sans-serif;
	margin: 10% 0 10% 0;	
}

.cab-menu-a{
	display: block;
	margin-top: 30px; 
	color: #07123F;
	font: bold 30px open sans, sans-serif;
	text-decoration: none;
}

.cab-btn-exit{
	margin-top: 10px;
	margin-left: 89.5%;
	background-color: rgb(66,33,99);
	color: white;
	width: 100px;
	height: 50px;
	font: bold 20px open sans, sans-serif;
	text-align: center;
	border: 2px solid white;
}

.cbef{
	float: left;
	margin-left: 620px;
}

.cab-gradient{
	background-image: 
	linear-gradient(to top, #07123F, #854DFF,#07123F);
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 614px;
}

.news-cont{
	margin-left: 20%;
}

.news-cont-fn{
	width: 700px;
	height: 350px;
	background-color: #fff;
	border: 10px solid #07123F;
	margin-top: 2%;
}

.news-h3{
	margin-top: 0%; 
	padding-top: 2%;
	margin-left: 2.4%;
	font: bold 40px open sans, sans-serif;
	color: #fff;
}

.news-cont-h4{
	font: bold 20px open sans, sans-serif;
	text-align: center;
}

.news-img-cont{
	position: relative;
    	left: 70px;
	height: 135px;
	width: 560px;
}

.news-p{
	font: italic 16px open sans, sans-serif;
	margin-left: 70px;
}

.news-btn{
	height: 50px;
	position: relative;
	    top: 20px;
    	left: 477px;
	border: 5px solid #07123F;
	background-color: rgb(66,33,99);
	color: white;
	
	font: bold 20px open sans, sans-serif;
	text-align: center;
	
}

.projects-img-cont{
	width: 150px;
	height: 150px;
	float: left;
}

.projects-btn{
	height: 50px;
	position: relative;
	    top: 50px;
    	left: 327px;
	border: 5px solid #07123F;
	background-color: rgb(66,33,99);
	color: white;
	
	font: bold 20px open sans, sans-serif;
	text-align: center;
	
}

.cab-left-proj{
	background-color: #fff;
    width: 25.5%;
	margin: 0 20px 0px;
	border: 10px solid  #07123F;
}

.btn-reg-proj{

	height: 20px;
	color: black;
	font: bold 20px open sans, sans-serif;

}

.proj-menu{
	display: block;
	margin-left: 30%;
	float: left;
}

.bg-gradient{
	background-image: 
		linear-gradient(to top, #07123F, #854DFF,#07123F);
	z-index: -1;
	width: 100%;
	height: 100%;

}

.btn{
	padding:4px 8px 4px 8px;
	position: relative;
	border: 5px solid #07123F;
	background-color: rgb(66,33,99);
	color: white;
	text-decoration: none;
	font: bold 20px open sans, sans-serif;
	text-align: center;
	
}

.title{
	margin-top: 0;
    padding-top: 3%;
	margin-left: 2.4%;
	font: bold 40px open sans, sans-serif;
	color: #fff;
}

.mp-list{
	margin-left: 10px;	
	float: left;
	width: 250px;
	background-color: #fff;
	border: 10px solid #07123F;
}

.title-p{
	text-align: center;
	font: bold 20px open sans, sans-serif;
	margin: 0;
	padding: 0 0 10px 0;
	background-color: #07123F;
	color: #fff;
}

.list-a{
	text-decoration: none;
	color: #07123F;
	font: bold 15px open sans, sans-serif;
	
}
.list-li{
	display: block;
	border-bottom: 1px solid #999;
	width: 100%;
}

.proj-cont{
	border: 5px solid #07123F;
	background-color: #fff;
	width: 650px;
	margin-left: 500px;
	margin-bottom: 170px; 

}

.ttc{
	background-color: #07123F; 
	color: #fff;
	padding: 10px 0 10px 40px; 
}

.btn-proj{

	background-color: #07123F; 
	color: #fff;
	padding: 10px 60px 2px 64px; 
	text-decoration: none;
	font: bold 20px open sans, sans-serif;
}

.issue-cont{
	background-color: #fff;
	border: 10px solid #07123F;
	width: 600px;
	margin: 10px 0 20px 450px;
}